# Symfony specific
/symfony/var/
/symfony/vendor/
/symfony/.env.local
/symfony/.env.local.php
/symfony/.env.*.local

# Docker volumes
/docker/mysql/data/
/docker/redis/data/

# IDE files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS specific
.DS_Store
Thumbs.db
